aside {background-image: url('../img/transparent.png'); background-repeat: repeat;}
.line > div {background-image: url('../img/transparent.png'); background-repeat: repeat;}
.tag {background-image: url('../img/transparent.png'); background-repeat: repeat;}
.bckgrnd {background-image: url('../img/transparent.png'); background-repeat: repeat;}
.articleContent img {border: 1px solid black;}
.table > div > div > div {background-image: url('../img/transparent.png'); background-repeat: repeat;}
.require {border: 3px solid #CC0000;}